---
services:
  proxy:
    image: bref/local-api-gateway:latest@sha256:825021fa792dc93577b627a0f42df36cf2b9d619bfb67b8df1e9c38572307c76
    ports:
      - 127.0.0.1:8000:8000
    environment:
      - TARGET=lambda:8080
  localstack:
    image: localstack/localstack:4.12.0@sha256:0df3a97da57de03a588c05d9b8f390f15c7033fc7c4512f94619d344bc3cd317
    ports:
      - 127.0.0.1:4566:4566              # LocalStack Gateway
      - 127.0.0.1:4510-4559:4510-4559    # external services port range
    environment:
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock
      - EAGER_SERVICE_LOADING=1
      - SERVICES=dynamodb
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  lambda:
    image: koinobori/dev:latest
    build:
      dockerfile: docker/koinobori/Dockerfile
    ports:
      - 127.0.0.1:9001:8080
    command: koinobori.lambdas.api.main.lambda_handler
    environment:
      - AWS_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_URL=http://localstack:4566
  migrations:
    image: koinobori/dev:latest
    build:
      dockerfile: docker/koinobori/Dockerfile
    ports:
      - 127.0.0.1:9002:8080
    command: koinobori.lambdas.migrations.main.lambda_handler
    environment:
      - AWS_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - ALEMBIC_VERSION_TABLE=koinobori-local-migrations
      - AWS_URL=http://localstack:4566
