---
services:
  proxy:
    image: bref/local-api-gateway:latest@sha256:825021fa792dc93577b627a0f42df36cf2b9d619bfb67b8df1e9c38572307c76
    ports:
      - 127.0.0.1:8000:8000
    environment:
      - TARGET=lambda:8080
  moto:
    image: motoserver/moto:5.1.20@sha256:d2711655244df58411ce0be34236c95736390db17886370d21e12ae2b1e36f79
    command: [-p, '4566', -H, 0.0.0.0]
    environment:
      - TZ=UTC
    ports:
      - 4566:4566
  lambda:
    image: koinobori/dev:latest
    build:
      dockerfile: docker/koinobori/Dockerfile
    ports:
      - 127.0.0.1:9001:8080
    command: koinobori.lambdas.api.main.lambda_handler
    environment:
      - AWS_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_URL=http://moto:4566
  migrations:
    image: koinobori/dev:latest
    build:
      dockerfile: docker/koinobori/Dockerfile
    ports:
      - 127.0.0.1:9002:8080
    command: koinobori.lambdas.migrations.main.lambda_handler
    environment:
      - AWS_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - ALEMBIC_VERSION_TABLE=koinobori-local-migrations
      - AWS_URL=http://moto:4566
