[project]
name = "koinobori"
version = "0.0.1"
description = ""
readme = "README.md"
requires-python = "==3.13.8"
dependencies = [
    "alembic==1.17.0",
    "fastapi-slim==0.120.4",
    "mangum==0.19.0",
    "orjson==3.11.4",
    "pydynamodb[sqlalchemy]==0.7.0",
    # removed in python 3.12, but pydynamodb needs it.
    "setuptools==80.9.0",
    "structlog==25.5.0",
    "yarl==1.22.0",
]

[dependency-groups]
dev = [
    "docker==7.1.0",
    "pyright==1.1.407",
    "pytest==8.4.2",
    "rich==14.2.0",
    "ruff-lsp==0.0.62",
    "ruff==0.14.3",
    "uvicorn[standard]==0.38.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pyright]
reportMissingTypeStubs = "none"
reportUnnecessaryTypeIgnoreComment = "error"
typeCheckingMode = "strict"
pythonVersion = "3.13"
ignore = [
  '**/.venv/**',
]

[tool.ruff]
target-version = "py313"

[tool.ruff.lint.flake8-annotations]
allow-star-arg-any = true
mypy-init-return = true
suppress-dummy-args = true

[tool.ruff.lint.flake8-type-checking]
quote-annotations = true

[tool.ruff.lint]
select = ["ALL"]
ignore = [
 "D", # disable docstring checks
 "COM812", # conflicts with ruff format
 "ISC001", # conflicts with ruff format
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
  "S101", # allow assert in tests
]
