[tool.poetry]
name = "koinobori"
version = "0.0.1"
description = ""
authors = ["Andrew Clemons <andrew.clemons@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "3.11.4"

alembic = "1.11.2"
fastapi = "0.101.0"
pydynamodb = {extras = ["sqlalchemy"], version = "0.5.0"}
sqlalchemy = "1.4.49"
structlog = "23.1.0"
yarl = "1.9.2"

[tool.poetry.group.dev.dependencies]
black = "23.7.0"
docker = "6.1.3"
pyright = "1.1.320"
pytest = "7.4.0"
rich = "13.5.2"
ruff = "0.0.283"
uvicorn = {version = "0.23.2", extras = ["standard"]}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["ALL"]
ignore = [
 "D", # disable docstring checks
 "E501", # black handles long line wrapping
]

[tool.ruff.per-file-ignores]
"tests/**/*.py" = [
    "S101", # allow assert in tests
]
